{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
{%if is_granted("ROLE_ADMIN")%}
    <button class="btn btn-secondary"> <a href="{{path('ajoutLivre')}}">Ajouter un livre</a></button>
  {% endif %}
<div id="livreCard">
  {% for livre in livres%}
  <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Information du livre</div>
    <div class="card-body">
      <h4 class="card-title">Le titre du livre est : {{livre.titre}} </h4>
      <h4 class="card-title">L'auteur du livre est : {{livre.auteur}} </h4>
      <p class="card-text">La date de sortie du livre est : {{livre.dateSortie | date("d/m/Y")}}</p>
      <p class="card-text">Description : Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
        {%if is_granted("ROLE_ADMIN")%}
        <button class="btn btn-danger"> <a href="{{path('modifierLivre', {'id':livre.id})}}">Modifier un livre</a></button>
        <button class="btn btn-warning"> <a href="{{path('supprimerLivre', {'id':livre.id})}}">Supprimer un livre</a></button>
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}